* {
    margin: 0%;
}

#fundo {
    width: 100%;
    background-image: url(fundo\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    block-size: 110px;
    margin: 0px;
}

table {
    margin: 0px
}

td {
    width: 25%;
}

#espaco {
    width: 500px;
}

#Cabeca {
    background-color: rgba(58, 11, 99, 1);
}

#logo {
    margin-left: 200px;
}

#forms {
    width: 100%;

}

#cotemigpng {
    width: 80%;
    text-align: center;
}

#matricula {
    width: 75%;
    text-align: center;
}

#google {
    width: 250px;
    text-align: center;
}

/*Parte Rosa*/
#Rosa {
    background-color: #ff47cb;
    height: 393px;
    width: 100%;
}

#alinhar {
    width: 100px;
}


#numero {
    width: 60%;
}

#txt{
    margin: auto;
    display: flex;
    width: 60%;
    color: aliceblue;
}
#txt div{
    padding-left: 50px;
    width: 90%;
    text-align: center;

}

.h4{
    text-align: center;
}